*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.navbar{
    background: #0D0B61;
    height: 80px;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    color: #fff;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar_logo{
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}

.logo{
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #0D0B61;
    font-weight: 600;
    background: #89A8B2;
    transition: all 0.3s ease;
}

.button:hover{
    background: #6482AD;
    color: #fff;
}

.navbar_links:hover{
    color: #89A8B2;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /* top: -1000px; */
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1; 
        background: #0D0B61;
    }   

    .navbar_menu.active{
        background: #0D0B61;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99; 
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle{

    display: none;
   }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #acacc6;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* hero section */
.hero{
    background: #0D0B61;
    padding: 120px 20px;
}

.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    
}

.hero_heading{
    font-size: 100px;
    margin-bottom: 24px;
    color:#fff;
}

.hero_heading span{
    color: #89A8B2;
}

.hero_description{
    font-size: 30px;
    color: #fff;
}

.highlight{
    border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
    .hero_heading{
        font-size: 40px;
    }

    .hero_description{
        font-size: 40px;
    }
}

.main{
    background-color: #89A8B2;
    padding: 10rem 0;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

/* .main_content{

} */

.main_content h1{
    font-size: 2rem;
    color: #fff;
    background-size: 100%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main_content h2{
    font-size: 30px;
    color: #0D0B61;
}

.main_content p{
    font-size: 1rem;
    font-weight: 700;
}

.main_btn{
    font-size: 1.8rem;
    padding : 8px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a{
    position: relative;
    z-index: 2;
    color: darkblue;
    text-decoration: none;

}

.main_btn:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6482AD;
    border-radius: 4px;
    transition: all 0.35s;
}

.main_btn:hover{
    color: #fff;
}

.main_btn:hover:after{
    width: 100%;
}

.main_img-container{
    text-align: center;
}

.main_img-card{
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

}

.main_img-card i{
    font-size: 14rem;
}

#card-2{
 background: #0d2446;
}

@media screen  and (max-width: 1100px) {
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main_img-container{
        display: flex;
        justify-content: center;
    }

    .main_img-card{
        width: 100%;
        height: auto;
    }

    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2{
        font-size: 3rem;
    }

    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 480px) {
    .main_img-card{
        width: 250px;
        height: 250px;
    }

    .main_img-card i{
        font-size: 4rem;
    }

    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2{
        font-size: 2rem;
    }

    .main_content p{
        margin-top: 2rem;
    }

    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* mentor section */
.services{
    /* background: #0D0B61;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
    flex-direction: column; */
    
    background: #0D0B61;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    flex-direction: column;
}


.services h1{
    color: #fff;
    background: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}

.services_card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: 0.3s ease-in;
    background: #89A8B2;
}

/* .services_card:nth-child(2){
    transform: translateY(-10px);
    transition: 0.3s ease-in;
} */

.services_card h2{
    text-align: center;
}
.services_card h3{
    text-align: center;
    margin-bottom: 1rem;
}

.services_card p{
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services_btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.services_card button{
    color:#fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0D0B61;
    font-size: 1rem;
}

.services_card button:hover{
    cursor: pointer;
}

.services_card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services_wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

    @media screen and (max-width: 768px) {
    .services_wrapper{
         grid-template-columns: 1fr;
    }
        
}


/* Footer */

.footer_container{
    background: #b8cadb;
    padding: 3rem 2rem 1rem;
}

.footer_links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 3rem;
}

.footer_link-wrapper{
    display: flex;
    gap: 40px;
}

.footer_link-items{
    display: flex;
    flex-direction: column;
}


.footer_link-items a{
    color: #0D0B61;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer_link-items a:hover{
    color: #6482AD;
}

/* Bottom Footer */
.social_media{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 2rem;
    margin-top: 2rem;
}

.social_media_wrap{
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.footer_logo{
    display: flex;
    align-items: center;
}

#footer_logo{
    color: #0D0B61;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.website_rights{
    color: #0D0B61;
}

.social_icons{
    display: flex;
    gap: 20px;
}

.social_icon-link{
    color: #0D0B61;
    font-size: 2rem;
}

/* Mobile */
@media screen and (max-width: 768px){

    .footer_links{
        flex-direction: column;
        align-items: center;
    }

    .footer_link-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .social_media_wrap{
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 960px){

    .navbar_toggle{
        display: block;
    }
}